



body {
  background-color:#000000;
}

#bg_player{
  display:none;
}
.myVideo1 , .myVideo2 {
  position:relative;
  z-index: -1;
  top:0px;
  right:0px;
  max-height:100vh;
  min-width:50vw;
}

.scrim {
  position:absolute;
  z-index: -0.8;
  left:15vw;
  top:0vw;
  height:100vh;
  width:fit-content;
  max-width:85vw;
  overflow:hidden;
  /* figure out a way to set scrim dimension to the dynamic video dimension */
  background: linear-gradient(to right, black,transparent, transparent),
  linear-gradient(to top, black,transparent, transparent),
  linear-gradient(to bottom, black,#0000006b,transparent,transparent,transparent, transparent);
}

/* code for sidebar that is not visible on smaller screens. Sidebar blends into the scrim  */
.sidebar {
  width: 15vw;
  height:100vh;
  background-color: black;
  position:absolute;
  left:0;
  top:0;
  z-index: -1;
}


.container {
  position:relative;
  margin: 0 0 0 0;
  width:100%;
  padding:0;
  }

.col {
  /* padding:0 0 0 0; */
  border-color:#ffffff06;
  border-style:solid;
  border-width: 0 1px 0 1px;
  max-height:173px;
  display:block;
}

.row {
  margin:0;
}

.col img {
  margin: 10px;
  position:relative;
  height:100%;
}


/* start of code for menu appearance and behaviour */
.menu {
  text-align:left;
  width:fit-content;
  height:fit-content;
  position:absolute;
  top:30vh;
  left:13vw;
  font-size:3vh;
  font-family: 'Syncopate', sans-serif;
}

.menu a {
  transition: transform .4s;
  transform-origin: left;
}

.menu a:hover {
  color:#ffffff6b;
  text-decoration:none;
 transform: scale(1.7);

}

.menu_link {
  display:block;
  padding: 3vh 0vw;
  color:white;
}
/* end of code for menu appearance and behaviour */

.add_div {
  position:absolute;
  width:25vw;
  /* height:12vh; */
  background: #00000000;
  color:#ffffff00;
  bottom:4vh;
  right:12vw;
  z-index:1;
  padding:2vh;
  display:flex;
  flex-direction:row;
}
.add_div :hover {
  color:#ffffff00;
}

.add_div img {
  height:60px;
  width:60px;
}




.add_text {
  padding-top:2vh;
  padding-right:1vw;
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  text-align:right;
}

/* code for the navbar */
.topnav {
  /* background-color:#0000006b;  */
  overflow: hidden;
  /* padding-left: 11vw; */
  padding-right: 10vw;
 position: relative;
z-index: 1;

}

/* Style the links inside the navigation bar */
.topnav .ext_link , .topnav .active {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 10vh 16px;
  text-decoration: none;
  font-size: 17px;
  height:20vh;
  padding-left: 2vw;
  padding-right:2vw;
  transition: transform .4s;
}

.topnav .active {
  float:left;
  padding-top:6vh;
  padding-left:13vw;

}

.topnav .active img{
 position: absolute;
 width:190px;
 height:100px;
}

/* Add an active class to highlight the Logo */
.topnav a.active {
  /* background-color: black; */
  color: white;
}


/* Change the color of links on hover */
.topnav a:hover {
  color: gray;
 transform:scale(1.1);
}



/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  text-align:center;
}


@media only screen and (max-width: 1000px) and (orientation: portrait) {

  body{
    background-color:black;
  }

  .sidebar {
    width: 100vw;
    height: 100vh;
     background-color: #000000;
   opacity:0.5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

  #bg_player{
    position:fixed;
    left:0px;
    bottom:0;
    min-width: 100vw;
    min-height:100%;
    display:inline;
    z-index:-2;
  }

  .scrim {
display:none;
  }

  /* navbar */
  .icons {
    position:relative;
    width:100vw;
    display:flex;
    margin:auto;
    flex-direction: row-reverse;
   justify-content:space-around;
   padding: 0 10vw;
   font-size:2rem;
  }

.topnav {
  height:28vh;
  display:flex;
  flex-direction: column;
  padding: 8vh 0 0 0;
}

.topnav .active img {
  position:relative;
  width:30rem;
}
.topnav .ext_link, .topnav .active {
  padding:0 0vw;
  height:0;
font-size:2rem;
}
}

/* additional css for animation */
